@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --red:#EF4877;
    --white: #FFFFFF;    
    /*FONTS*/
    --bold: 700;
    --regular: 400;

    /*headings*/
    --raleway-font:'Raleway', sans-serif;

    /*body*/
    --open-sans-font: 'Open Sans', sans-serif;
}


/*error message*/
.error-msg{
    color: var(--red);
    font-family: var(--open-sans-font);
    font-weight: var(--regular);
    font-size: 0.75rem;
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.illustration-2{
    width: 20rem;
}
p{
    font-size: 0.875rem;
    font-weight: var(--regular);
}
a{
    font-size: 0.75rem;
}
h3,h4, h5,button{
    font-weight: var(--bold);
}
h3,h4,h5{
    font-family: var(--open-sans-font);
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5.625rem;
}
header a{
    font-weight: var(--regular);
    font-family: var(--raleway-font);
}
.header-full img{
    max-width: 100%;
}
header p{
    color: var(--dark-blue);
    font-family: var(--open-sans-font);
    line-height: 1.3125rem;
    min-width: 296px;
    max-width: 80%;
    text-align: center;
}
header h4{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
}
.header-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-box{
    max-width: 627px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 21.5rem;
}
#logo-light{
    width: 5rem;
}

.header-line{
    display: inline-flex;
    min-width: 375px;
    width: 87.2%;
    justify-content: space-between;
    margin-bottom: 6.125rem;
    margin-top: 2rem;
}
.header-line div{
    width: 9rem;
    display: inline-flex;
    justify-content: space-between;
}
.header-line a{
    color: var(--dark-blue);
}

.form-cls{
    display: flex;
    flex-direction: column;
    width: 304px;
    justify-content: space-between;
}
input, button{
    font-family: var(--raleway-font);
    height: 2.5rem;
    
}
button{
    background-color: var(--bright-blue);
    color: var(--white);
    border: none;
}
input{
    border: 0.0625rem solid var(--dark-blue);
    font-size: 0.75rem;
    padding-left: 1.3125rem;
    border-radius: 3.125px;
}

.form-cls button{
    border: none;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    font-size: 0.875rem;
    border-radius: 3.125px;
    margin-top: 1rem;
}
.form-cls input{
    width: 280px;
}



/* MAIN */
main{
    width: 100vw;
    background-color: var(--light-grayish-blue);

    display: flex;
    flex-direction: column;
    align-items: center;
}
main>section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#background{
    position: relative;
    width: 100vw;
}
.box-1{
    max-width: 25rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-1 h5{
    font-size: 1rem;
    width: 100%;
    line-height: 1.5rem;
}
.box-1 p{
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 30rem;
    font-family: var(--open-sans-font);
    font-size: 0.75rem;
    line-height: 1.3125rem;
    color: var(--desaturated-blue);
}

/*link*/
.fylo-link{
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border-bottom: 0.0625rem solid var(--cyan);
}
.fylo-link p{
    font-family: var(--open-sans-font);
    font-weight: var(--regular);
    color: var(--cyan);
    text-decoration: none;
}
.fylo-link img{
    width: 0.75rem;
    height:  0.75rem;
}
.main-txt{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* QUOTE BOX */

.box-2{
    min-height: 10.625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.0458843);
    border-radius: 0.25rem;
    width: 15.0625rem;
    margin-top: 2.8125rem;
    padding: 20px 13px 19.25px 26px;
    margin-bottom: 5rem;
}
.box-2>img{
    width: 0.75rem;
    height: 0.75rem;
}
.box-2 p{
    font-size: 0.625rem;
    font-family: var(--open-sans-font);
    line-height: 1.125rem;
}

.profile{
    width: 6.5625rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--open-sans-font);
}
.profile *{
    margin: 0;
}
.profile img{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.profile p{
    font-size: 0.375rem;
    font-weight: var(--regular);
}
.profile b{
    font-size: 0.5625rem;
    font-weight: var(--bold);
}



/* FOOTER */
footer{
    width: 100vw;
    height: 37.1875rem;
}

/* GRAY footer*/
.gray-box{
    background: var(--desaturated-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21.5625rem;
}
#gray-div{
    max-width: 50rem;
    margin: 0 47px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.375rem;
}
#gray-div h5{
    min-width: 17.5rem;
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
}
#gray-div p{
    min-width: 17.5rem;
    max-width: 25rem;
    font-size: 0.875rem;
    font-family: var(--open-sans-font);
    font-weight: var(--regular);
    line-height: 1.3125rem;
    margin-bottom: 2rem;
}
.form-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
}
.form-footer #input2{
    height: 2rem;
}
.input-cls-2{
    width: 15rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.input-cls-2 .error-msg{
    align-self: flex-start;
    color: var(--light-gray);
}
.form-footer *{
    border: none;
    border-radius: 1.47059px;
    font-size: 0.625rem;
}

.form-footer button{
    box-shadow:  1px 1px 3px rgba(7, 4, 59, 0.157043);
    font-family: var(--raleway-font);
    font-weight: var(--bold) ;
    height: 2rem;
    margin-top: 0.5rem;
}



/* BLUE footer*/

.blue-box{
    width: 100vw;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 36.875rem;
    font-family: var(--open-sans-font);
    font-weight: var(--regular);
    font-size: 1rem;
    line-height: 21.79px;
}
#blue-div{
    padding: 3.2rem 3.9rem 0 4.2rem;
    width:  17.5rem;
    height: 26.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#logo-dark{
    width: 6.5625rem;
    margin-bottom: 2rem;
}
#blue-div section{
    width: 222px;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}
#blue-div section *{
    margin: 0;
}

.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inline{
    display: inline-flex;
    align-items: center;
}
#blue-div svg{
    margin-right: 1.125rem;
}

.social{
    display: inline-flex;
    width: 6.5rem;
    justify-content: space-between;
    align-self: center;
    margin-top: 2rem;
}
.social img{
    width: 1.6875rem;
}

.column-1, .column-2{
    line-height: 1.375rem;
}


@media screen and (max-width:1440px) {
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    * {
        margin: 0;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    }

    /* HEADER */
    header h4, header p{
        text-align: start;
    }
    header h4{
        font-size: 2.5rem;
        line-height: 3.75rem;
    }
    header p{
        font-size: 1.0625rem;
        line-height: 1.5rem;
    }
    .header-full{
        width: 80rem;
        display: flex;
        flex-direction: row-reverse;
    }
    .header-box{
        align-items: flex-start;
    }
    .form-cls{
        width: auto;
        height: 45px;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .form-cls button{
        width: 200px;
        height: 44px;
        margin: 0 0 0 1rem;
    }
    .form-cls input{
        width: 20rem;
    }
    .form-cls input, .form-cls button{
        font-size: 0.875rem;
    }

    .header-full img{
        width: 40rem;
    }

    /*MAIN*/
   .illustration-2{
        width: 542px;
    }
    #background-desktop{
        width: 100vw;
    }
    main>section{
        display: flex;
        flex-direction: row-reverse;
        width: 80rem;
        justify-content: space-between;
    }
    .main-txt{
        width: 40.5rem;
        align-items: flex-start;
    }
    .box-1{
        align-items: flex-start;
        text-align: start;
        max-width: 100%;
    }
    .box-1 p{
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
        width: 33.0625rem;
        margin-bottom: 1rem;
    }
    .box-1 h5{
        font-size: 2.5rem;
        line-height: 3rem;
        width: 110%;
        margin-bottom: 2.375rem;
    }

    .box-2{
        width: 289px;
        padding: 19px 34px 26px 33px;
    }
    .box-2 p{
        font-size: 0.8125rem;
        line-height: 1.4375rem;
    }

    .profile{
        width: 8.5625rem;
    }
    .profile>img{
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
    }
    .profile p{
        font-size: 0.5rem;
        line-height: 0.9375rem;
    }
    .profile b{
        font-size: 0.6875rem;
    }
}